/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

footer {
  height: 80px;
}

small {
  color: white;
}

body {
	background: black;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0 auto;
}

a {
	color:crimson;
	text-decoration:none;
}

a:hover {
	color:red;
}

header {
	color: white;
}

h1 {
  display: flex;
  justify-content: flex-start;
}

h2 {
  display: flex;
  justify-content: center;
}

/*img {
  max-width: 100%;
  height:auto;
}
*/
p {
  margin: 0 auto;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
	margin: 0 auto;
	width:88%;
	max-width: 960px;
}

.wrapper {
	padding:1em 0;
	background: #ffffff;	
}

.spacing {
  margin-top: 15px;
}

/* Navigation
------------------------------------------*/

nav {
  margin-top: 13px;
}

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-right: .5em;
  font-family: sans-serif;
}

nav ul li a {
  background: grey;
  padding: .5em .5em;
  border-radius: 15px 0;
}

/* Video
------------------------------------------*/

.video-container {
  max-width:100%;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}




/* Singularity GS 
------------------------------------------*/

/* Source: https://github.com/philwareham/hive-framework */

.layout--span-1-12,
.layout--span-1-6,
.layout--span-7-12,
.layout--span-1-4,
.layout--span-5-8,
.layout--span-9-12,
.layout--span-1-3,
.layout--span-4-6,
.layout--span-7-9,
.layout--span-10-12,
.layout--span-1-8,
.layout--span-5-12,
.layout--span-4-9,
.layout--span-1-9,
.layout--span-4-12 {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  box-sizing: border-box;
  clear: both;
}

@media (min-width: 24em) {
  .layout--span-1-3.at-break1 {
    width: 48.3587573%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }

  .layout--span-4-6.at-break1 {
    width: 48.3587573%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .layout--span-7-9.at-break1 {
    width: 48.3587573%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }

  .layout--span-10-12.at-break1 {
    width: 48.3587573%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 36em) {
  .layout--span-1-6.at-break2 {
    width: 48.3587573%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }

  .layout--span-7-12.at-break2 {
    width: 48.3587573%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .layout--span-1-4 {
    width: 31.1450097%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }

  .layout--span-5-8 {
    width: 31.1450097%;
    float: left;
    margin-right: -100%;
    margin-left: 34.4274951%;
    clear: none;
  }

  .layout--span-9-12 {
    width: 31.1450097%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .layout--span-1-8 {
    width: 65.5725049%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }

  .layout--span-5-12 {
    width: 65.5725049%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 48em) {
  .layout--span-1-6 {
    width: 48.3587573%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }

  .layout--span-7-12 {
    width: 48.3587573%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .layout--span-1-3,
  .layout--span-1-3.at-break1 {
    width: 22.5381359%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }

  .layout--span-4-6,
  .layout--span-4-6.at-break1 {
    width: 22.5381359%;
    float: left;
    margin-right: -100%;
    margin-left: 25.8206214%;
    clear: none;
  }

  .layout--span-7-9,
  .layout--span-7-9.at-break1 {
    width: 22.5381359%;
    float: left;
    margin-right: -100%;
    margin-left: 51.6412427%;
    clear: none;
  }

  .layout--span-10-12,
  .layout--span-10-12.at-break1 {
    width: 22.5381359%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .layout--span-4-9 {
    width: 48.3587573%;
    float: left;
    margin-right: -100%;
    margin-left: 25.8206214%;
    clear: none;
  }

  .layout--span-1-9 {
    width: 74.1793786%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }

  .layout--span-4-12 {
    width: 74.1793786%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*  Slideshow  */

.slider { height: 100%; }

.slider__strip { height: 100%; }

.slider__slide {
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
}

.slider__slide--1 { background-image: url(../img/example1.jpg); }

.slider__slide--2 { background-image: url(../img/example2.jpg); }

.slider__slide--3 { background-image: url(../img/example3.jpg); }

.slider__slide--4 { background-image: url(../img/example4.jpg); }

.slider__slide--5 { background-image: url(../img/example5.jpg); }

.slider__slide--6 { background-image: url(../img/example6.jpg); }

.slider__button, .slider__marker {
  margin: 0;
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slider--disabled .slider__button, .slider--disabled .slider__marker { display: none; }

.slider__button__icon {
  display: block;
  width: 23px;
  height: 36px;
  background: transparent url(../img/arrow.png) no-repeat 0 -36px;
  background: transparent url(../img/arrow.svg) no-repeat 0 -36px;
  background-size: 23px 72px;
  text-indent: -10000px;
}

.slider__button--next .slider__button__icon {
  left: 10px;
  background-position: 0 0;
}

.slider__button--next {
  padding-right: 7px;
  padding-left: 10px;
}
 .slider__button::-moz-focus-inner {
 margin: -1px;
 padding: 0;
}

.advanced .slider__button {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 36px;
  margin-top: -36px;
  padding-right: 10px;
  padding-left: 7px;
}

.slider__markers {
  position: relative;
  top: -45px;
  height: 15px;
  padding: 15px 10px;
  text-align: center;
  font-size: .8em;
}

.slider--enable-touch .slider__markers {
  top: -65px;
  padding: 25px 10px;
}

.slider__marker {
  display: inline-block;
  padding: 0;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 5px;
  text-indent: -10000px;
  opacity: .4;
}

.slider__marker--sticky {
  background-color: #3172dd;
  opacity: 1;
}

.slider__marker+.slider__marker { margin-left: 10px; }

.slider--enable-touch .slider__marker {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.slider--enable-touch .slider__marker+.slider--enable-touch .slider__marker { margin-left: 15px; }

